.portfolio {
  display: flex;
  flex-direction: column;
  text-align: right;
  color: #fff;
  background: rgb(37, 37, 37);
  width: 100%;

  h2 {
    margin-inline: 10px;
    margin-block: 4px;
  }

  p {
    font-size: smaller;
    margin-block: 0;
    margin-inline: 10px;
  }

  a {
    text-decoration: none;
    color: rgb(105, 252, 203);
  }

  button {
    color: rgb(105, 252, 203);
    background-color: inherit;
    padding: 4px;
    border: none;
    margin: 10px;

    &:hover {
      font-weight: bold;
      color: #000;
      background: rgb(105, 252, 203);
      border-radius: 10px;

      a {
        font-weight: bold;
        color: #000;
      }
    }
  }

  &_title {
    width: 100%;
    margin: 0 auto;
  }

  &_list {
    width: 100%;
    margin: 0 auto;
  }
}