@import '../../styles/mixins.scss';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 24px;

  @include media-breakpoint-down('maxXl') {
    margin: 0 24px;
  }

  @include media-breakpoint-down('sm') {
    margin: 0 12px;
  }
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 24px;


  h3 {
    color: var(--aqua--200);
  }

  p {
    color: var(--white--100);
    word-wrap: break-word;
    word-break: break-all;
  }

  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 12px;
  }

  li {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 12px;
  }

  a {
    font-size: 0;
    line-height: 0;
  }

  svg {
    height: 40px;
    width: 40px;

    path, polygon {
      fill: var(--grey--200);
    }
  }
}
