.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  padding: 20px;
  margin: auto;
  border: 2px solid;
  border-color: var(--border);
  border-radius: 8px;

  h2 {
    color: var(--white--100);
    margin-bottom: 8px;
  }

  :global {
    .ant-form-item-control-input-content {
      display: flex;
      justify-content: center;
    }

    .login-form-button {
      color: var(--white--100);
      background-color: transparent;
      border-color: var(--aqua--200);

      &:focus, &:hover {
        color: var(--black--100);
        border-color: var(--aqua--200);
        background-color: var(--aqua--200);
      }
    }

    .ant-form-item-explain-success {
      color: var(--purple--100);
    }
  }
} 