.about_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--grey--100);
  padding: 12px;

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  :global {
    .ant-col-4 {
      min-width: 30%;
    }

    .ant-form-item-row {
      gap: 12px;
    }
    
    .ant-form-item-label {
      overflow: visible;
    }

    .ant-form-item-label > label {
      color: var(--white--100);
    }

    .ant-upload.ant-upload-select-picture-card {
      width: 150px;
      height: 30px;
    }

    .ant-form-item-explain-error {
      color: var(--aqua--200);
    }
  }

  .row_button {
    align-self: flex-end;
    margin-right: 24px;
  }
}

.upload {
  display: flex;
  align-items: center;
  gap: 8px;
}