@import '../../styles/mixins.scss';

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  &_news {
    display: flex;
    flex-direction: column;
    text-align: right;
    color: var(--white--100);
    width: 100%;

    &_list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      margin: 12px auto;
      gap: 12px;
  
      @include media-breakpoint-down('sm') {
        flex-direction: column;
      }
    }
  }
}