@import '../../assets/styles/mixins.scss';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--aqua--200);
  background: var(--black--100);
  min-height: 65px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  background: var(--black--100);

  @include media-breakpoint-down('maxXl') {
    margin-inline: 24px;
  }

}

.logo_block {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  padding: 8px;
  border: 2px solid transparent;

  &:hover, &:focus {
    border-radius: 8px;
    border-color: var(--border);
    background-color: var(--grey--100);
  }
}

.avatar {
  svg {
    rotate: 180deg;
    path{
      fill:var(--aqua--100)
    }
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;

  @include media-breakpoint-down('sm') {
    display: none;
  }

  li {
    padding: 4px;
    margin: 0 4px; 
    border: 2px solid var(--black--100);

    &:hover, &:focus {
      cursor: pointer;
      color: var(--aqua--200);
      border-color: var(--border);
      border-radius: 8px;
    }
  }

  a, a:focus, a:hover {
    color: var(--white--100);
  }
}

.menu_icon {
  display: none;
  
  @include media-breakpoint-down ('sm') {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 0;
    line-height: 0;
    margin: 12px;
    border: 2px solid transparent;
  
    &:hover, &:focus {
      color: var(--aqua--200);
      border-color: var(--border);
      border-radius: 8px;
    }
  }
}