.project {
  display: flex;
  justify-content: space-around;
  width: 98%;
  margin: 10px auto;
  background: rgb(14, 13, 13);

  &_image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    font-size: 0;
    line-height: 0;  
    margin: 10px;

    img {
      width: 100%;
    }
  }

  &_info { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    margin: 10px;
    width: 60%;
    max-width: 60%;
  }

  h3 {
    margin: 0;
  }

  ul {
    text-align: left;
    list-style: none;
    color: #fff;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  a {
    text-decoration: none;
    color: rgb(105, 252, 203);
    padding: 4px;
    word-wrap: break-word;
    overflow-wrap: break-word;

    &:hover, &:focus {
      text-decoration: underline #fd2155;
    }
  }

  span {
    text-align: left;
    font-size: smaller;
    padding-block: 4px;
    margin: 0;
  }
}