@import '../../assets/styles/mixins.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: auto;

  h1 {
    color: var(--white--100);
  }

  img {
    width: 50%;
    margin: 0 auto;
  }
}