.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
  width: 100%;
  max-width: 1200px;
  padding-top: 20px;
  margin: 0 auto;
  background: var(--grey--200);

  &_gretting {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--white--100);
    background: var(--grey--200);
    width: 100%;

    &_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 20px;
      line-height: 24px;
      margin-left: 10px;
      max-width: 60%;
      padding: 10px;
      background: var(--black--100);
      border-radius: 30px 30px 0 30px;

      p {
        margin: 4px;
        font-size: 16px;
        line-height: 18px;
      }

      span {
        color: var(--aqua--200);
      }
    }

    &_image {
      max-width: 50%;
      font-size: 0;
      line-height: 0;
      margin: 10px;

      img {
        max-width: 100%;
        max-height: 40vh;
      }
    }
  }

  &_about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;

    &_block {
      cursor: pointer;
      max-width: 25%;
      border-top: 3px solid rgb(189, 188, 188);
      border-left: 3px solid rgb(189, 188, 188);
      margin: 4px;
      font-weight: bold;
      background: var(--aqua--200);
      border-radius: 10px;
      box-shadow: 4px 4px 10px var(--black--100);

      img {
        max-width: 50%;
        max-height: 50%;
      }

      &:hover, &:focus {
        background: #fdabbe;
      } 

      &:disabled {
        cursor: auto;
        color: rgb(211, 210, 210);
        background: var(--grey--400);
      }
    }
  }

  &_biografy {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: var(--aqua--200);
    background: var(--grey--200);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 

    h3 {
      margin-inline: 20px;
      margin-block: 4px;
      text-align: right;
    }

    &_list {
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      list-style: none;
      color: var(--white--100);
      padding: 4px;
      margin-inline: 10px;
      margin-top: 0;
    }

    li {
      margin-block: 4px;

      &:nth-child(2n) {
        color: rgb(186, 252, 230);
      }
    } 

    
  }
}