@import '../../styles/mixins.scss';

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  @include media-breakpoint-down('maxXl') {
    margin: 0 12px;
  }

  &_gretting {
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid;
    border-color: var(--grey--400);
    border-left: 10px solid var(--aqua--200); 
    background: var(--grey--100);

    p {
      color: var(--white--100);
      margin: 4px;
      font-size: 16px;
      line-height: 18px;
    }

    span {
      color: var(--aqua--200);
    }
  }

  &_about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    margin: 24px auto;
    margin-top: 32px;

    input[type="radio"] {
      display: none;
    }
  
    label {
      display: inline-block;
      text-align: center;
      min-width: 120px;
      padding: 4px 8px;
      cursor: pointer;
      border: 2px solid;
      border-radius: 4px;
      border-color: var(--border);
    }
  
    input[type="radio"]:checked+label {
      text-shadow: 1px 1px var(--black--100);
      background-image: var(--gradient);
      border: 2px solid var(--black--100);
    }
  
    label:hover {
      border: 2px solid var(--purple--100);
    }

  }


  &_biografy {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: var(--aqua--200);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 

    &_list {
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      list-style: none;
      color: var(--white--100);
      padding: 4px;
    }

    li {
      margin-block: 4px;
      padding: 12px;
      border-radius: 4px;
      border: 1px solid;
      border-color: var(--grey--400);
      border-left: 10px solid var(--aqua--200); 
      background: var(--grey--100);

      &:nth-child(2n) {
        color: rgb(186, 252, 230);
      }
    } 

    
  }
}